In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import regex as re

In [ ]:
driver = webdriver.Chrome()

# Question 1

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [41]:
Name=[]
Rank=[]
Artist=[]
Upload_date=[]
Views=[]

In [81]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[1]')
    for i in rank[0:30]:
        Rank.append(i.text.split('.')[0])
        
except NoSuchElementException:
    Rank.append('-')
    

try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[2]')
    for i in name[0:30]:
        Name.append(i.text.split('[')[0])
        
except NoSuchElementException:
    Name.append('-')
    

try:
    artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[3]')
    for i in artist[0:30]:
        Artist.append(i.text.split(',')[0])
        
except NoSuchElementException:
    Artist.append('-')
    
    
try:
    upload=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[5]')
    for i in upload[0:30]:
        Upload_date.append(i.text)
        
except NoSuchElementException:
    Upload_date.append('-')
    

try:
    views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[4]')
    for i in views[0:30]:
        Views.append(i.text)
        
except NoSuchElementException:
    Views.append('-')

In [44]:
Views

['13.18',
 '8.23',
 '6.76',
 '6.33',
 '6.05',
 '5.98',
 '5.46',
 '5.42',
 '5.00',
 '4.94',
 '4.86',
 '4.55',
 '4.41',
 '4.00',
 '3.91',
 '3.84',
 '3.84',
 '3.73',
 '3.69',
 '3.68',
 '3.63',
 '3.63',
 '3.56',
 '3.51',
 '3.49',
 '3.48',
 '3.51',
 '3.45',
 '3.43',
 '3.43']

In [82]:
df=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload date":Upload_date,"Views in Billions":Views})
df

,Rank,Name,Artist,Upload date,Views in Billions
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.23
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4,"""Bath Song""",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.05
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.98
6,7,"""Wheels on the Bus""",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8,"""Phonics Song with Two Words""",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.00
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.86
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,"January 31, 2012",4.55
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.41
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.00
14,15,"""Sugar""",Maroon 5,"January 14, 2015",3.91
15,16,"""Roar""",Katy Perry,"September 5, 2013",3.84
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",3.84
17,18,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19,"""Sorry""",Justin Bieber,"October 22, 2015",3.69
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.68
20,21,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.63
21,22,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.63
22,23,"""Dark Horse""",Katy Perry,"February 20, 2014",3.56
23,24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.51
24,25,"""Faded""",Alan Walker,"December 3, 2015",3.49
25,26,"""Let Her Go""",Passenger,"July 25, 2012",3.48
26,27,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.45
28,29,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.43
29,30,"""Lean On""",Major Lazer,"March 22, 2015",3.43

# Question 2

In [146]:
driver.get("https://www.bcci.tv/")

In [147]:
role1=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
role1.click()

In [148]:
role2=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
role2.click()

In [149]:
role3=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
role3.click()

In [150]:
role4=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
role4.click()

In [151]:
role5=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
role5.click()

In [152]:
Match_title=[]
Series=[]
Date=[]
Place=[]
Time=[]

In [153]:
try:
    match=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in match:
        Match_title.append(i.text.split('-')[0])
        
except NoSuchElementException:
    Match_title.append('-')
    
    
try:
    series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series:
        Series.append(i.text)
        
except NoSuchElementException:
    Series.append('-')
    
    
try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        Date.append(i.text)
        
except NoSuchElementException:
    Date.append('-')
    
    
    
try:
    place=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in place:
        Place.append(i.text)
        
except NoSuchElementException:
    Place.append('-')
    
    
    
    
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        Time.append(i.text)
        
except NoSuchElementException:
    Time.append('-')

In [74]:
Match_title

['1st T20I ',
 '2nd T20I ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ']

In [154]:
df1=pd.DataFrame({"Matchtitle":Match_title,"Series":Series,"Date":Date,"Place":Place,"Time":Time})
df1

,Matchtitle,Series,Date,Place,Time
0,1st T20I,INDIA TOUR OF IRELAND 2023,18 AUG 2023,Dublin,7:30 PM IST
1,2nd T20I,INDIA TOUR OF IRELAND 2023,20 AUG 2023,Dublin,7:30 PM IST
2,3rd T20I,INDIA TOUR OF IRELAND 2023,23 AUG 2023,Dublin,7:30 PM IST
3,1st ODI,ASIA CUP 2023,2 SEP 2023,Pallekele,10:00 AM IST
4,2nd ODI,ASIA CUP 2023,4 SEP 2023,Pallekele,10:00 AM IST
5,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,22 SEP 2023,Mohali,1:30 PM IST
6,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,24 SEP 2023,Indore,1:30 PM IST
7,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,27 SEP 2023,Rajkot,1:30 PM IST
8,1st ODI,ICC MENS WORLD CUP 2023,8 OCT 2023,Chennai,2:00 PM IST
9,2nd ODI,ICC MENS WORLD CUP 2023,11 OCT 2023,Delhi,2:00 PM IST
10,3rd ODI,ICC MENS WORLD CUP 2023,14 OCT 2023,Ahmedabad,2:00 PM IST
11,4th ODI,ICC MENS WORLD CUP 2023,19 OCT 2023,Pune,2:00 PM IST
12,5th ODI,ICC MENS WORLD CUP 2023,22 OCT 2023,Dharamsala,2:00 PM IST
13,6th ODI,ICC MENS WORLD CUP 2023,29 OCT 2023,Lucknow,2:00 PM IST
14,7th ODI,ICC MENS WORLD CUP 2023,2 NOV 2023,Mumbai,2:00 PM IST
15,8th ODI,ICC MENS WORLD CUP 2023,5 NOV 2023,Kolkata,2:00 PM IST
16,9th ODI,ICC MENS WORLD CUP 2023,12 NOV 2023,Bengaluru,2:00 PM IST
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,23 NOV 2023,Visakhapatnam,7:00 PM IST
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,26 NOV 2023,Thiruvananthapuram,7:00 PM IST
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,28 NOV 2023,Guwahati,7:00 PM IST
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,1 DEC 2023,Nagpur,7:00 PM IST
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,3 DEC 2023,Hyderabad,7:00 PM IST
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,10 DEC 2023,Durban,9:30 PM IST
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,12 DEC 2023,Gqeberha,9:30 PM IST
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,14 DEC 2023,Johannesburg,9:30 PM IST
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,17 DEC 2023,Johannesburg,2:00 PM IST
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,19 DEC 2023,Gqeberha,2:00 PM IST
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,21 DEC 2023,Paarl,2:00 PM IST
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,26 DEC 2023,Centurion,1:30 PM IST
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,3 JAN 2024,Cape Town,1:30 PM IST
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,11 JAN 2024,Mohali,7:00 PM IST
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,14 JAN 2024,Indore,7:00 PM IST
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,17 JAN 2024,Bengaluru,7:00 PM IST
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,25 JAN 2024,Hyderabad,9:30 AM IST
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,2 FEB 2024,Visakhapatnam,9:30 AM IST
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,15 FEB 2024,Rajkot,9:30 AM IST
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,23 FEB 2024,Ranchi,9:30 AM IST
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,7 MAR 2024,Dharamsala,9:30 AM IST

# Question 3

In [161]:
driver.get("http://www.statisticstimes.com/")

In [163]:
role6=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
role6.click()

In [164]:
role7=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div[1]/a[3]')
role7.click()

In [165]:
role8=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
role8.click()

In [167]:
Rank_state=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [168]:
try:
    rank_state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_state:
        Rank_state.append(i.text)
        
except NoSuchElementException:
    Rank_state.append('-')



try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
        
except NoSuchElementException:
    State.append('-')
    
    
try:
    gsdp1=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp1:
        GSDP1.append(i.text)
        
except NoSuchElementException:
    GSDP1.append('-')
    
    
try:
    gsdp2=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp2:
        GSDP2.append(i.text)
        
except NoSuchElementException:
    GSDP2.append('-')
    
    
    
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
        
except NoSuchElementException:
    Share.append('-')
    
    
    
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
        
except NoSuchElementException:
    GDP.append('-')

In [170]:
df2=pd.DataFrame({"Rank_state":Rank_state,"State":State,"GSDP(19-20)":GSDP1,"GSDP(18-19)":GSDP2,"Share":Share,"GDP":GDP})
df2

,Rank_state,State,GSDP(19-20),GSDP(18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 4

In [97]:
driver.get("https://www.github.com/")

In [103]:
role9=driver.find_element(By.XPATH,'//header[@class="Header-old header-logged-out js-details-container Details position-relative f4 py-3"]/div[1]/div[2]/div/nav/ul/li[3]/button[1]')
role9.click()

In [104]:
role10=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
role10.click()

In [105]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
Page_url=[]

In [106]:
url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    Page_url.append(i.get_attribute('href'))

In [108]:
try:
    language_used=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]')
    for i in language_used:
        Language_used.append(i.text.split(' ')[0])
        
except NoSuchElementException:
    Language_used.append('-')

In [110]:
for i in Page_url:
    driver.get(i)
    
    try:
        contributors_count=driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div[1]/div[5]/div[1]/h2/a[1]/span[1]')
        Contributors_count.append(contributors_count.text)
        
    except NoSuchElementException:
        Contributors_count.append('-')
        
        
    try:
        repository_title=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        Repository_title.append(repository_title.text)
        
    except NoSuchElementException:
        Repository_title.append('-')
        
        
    try:
        repository_description=driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div[1]/div[1]/div[1]/p[1]')
        Repository_description.append(repository_description.text)
        
    except NoSuchElementException:
        Repository_description.append('-')

In [113]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 25

In [184]:
df3=pd.DataFrame({"Repository title":Repository_title,"Repository description":Repository_description,"Contributors count":Contributors_count,"Language used":Language_used})
df3

,Repository title,Repository description,Contributors count,Language used
0,Fooocus,Focus on prompting and generating,-,Python
1,supervision,We write your reusable computer vision tools. 💜,15,Python
2,gpt-researcher,GPT based autonomous agent that does online co...,12,Python
3,DoctorGPT,DoctorGPT is an LLM that can pass the US Medic...,-,Jupyter
4,outlines,Generative Model Programming,11,Python
5,conference-app-2023,-,-,Kotlin
6,2023Hvv,2023 HVV情报速递~,-,464
7,little-rat,🐀 Small chrome extension to monitor other exte...,-,JavaScript
8,awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...",-,"47,599"
9,neuralangelo,"Official implementation of ""Neuralangelo: High...",2,Python
10,build-your-own-x,Master programming by recreating your favorite...,107,"212,880"
11,hackingtool,ALL IN ONE Hacking Tool For Hackers,-,Python
12,privateGPT,Interact privately with your documents using t...,26,Python
13,roop,one-click deepfake (face swap),25,Python
14,apitable,"🚀🎉📚 APITable, an API-oriented low-code platfor...",-,TypeScript
15,llama_embeddings_fastapi_service,-,-,Python
16,openai-cookbook,Examples and guides for using the OpenAI API,-,Jupyter
17,gpt-llm-trainer,-,-,Jupyter
18,immich,Self-hosted photo and video backup solution di...,146,Dart
19,azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,-,Python
20,WizardLM,Family of instruction-following LLMs powered b...,-,Python
21,CleanArchitectureForAndroid,Clean Architecture for Android - a sample project,-,Kotlin
22,New-Grad-2024,👋 Hey there new grad🎉! We've put together a co...,-,Python
23,ChatGPT-Next-Web,A well-designed cross-platform ChatGPT UI (Web...,-,TypeScript
24,localGPT,Chat with your documents on your local device ...,-,Python

# Question 5

In [189]:
driver.get("https:/www.billboard.com/")

In [193]:
role11=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
role11.click()

In [195]:
role12=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
role12.click()

In [196]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [197]:
try:
    main=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li/h3')
    for i in main:
        Song_name.append(i.text)
        
except NoSuchElementException:
    Song_name.append('-')
    


try:
    main1=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[1]/span')
    for i in main1:
        Artist_name.append(i.text)
        
except NoSuchElementException:
    Artist_name.append('-')
    
    
    
try:
    main2=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[4]/span')
    for i in main2:
        Last_week_rank.append(i.text)
        
except NoSuchElementException:
    Last_week_rank.append('-')
    
    
    
    
try:
    main3=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[5]/span')
    for i in main3:
        Peak_rank.append(i.text)
        
except NoSuchElementException:
    Peak_rank.append('-')
    
    
    
    
try:
    main4=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[6]/span')
    for i in main4:
        Weeks_on_board.append(i.text)
        
except NoSuchElementException:
    Weeks_on_board.append('-')

In [198]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [199]:
df4=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last week rank":Last_week_rank,"Peak rank":Peak_rank,"Weeks on board":Weeks_on_board})
df4

,Song_name,Artist_name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

# Question 6

In [146]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [156]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [157]:
try:
    main5=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
    for i in main5:
        Book_name.append(i.text)
        
except NoSuchElementException:
    Book_name.append('-')
    


try:
    main6=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
    for i in main6:
        Author_name.append(i.text)
        
except NoSuchElementException:
    Author_name.append('-')
    
    
    
try:
    main7=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
    for i in main7:
        Volumes_sold.append(i.text)
        
except NoSuchElementException:
    Volumes_sold.append('-')
    
    
    
    
try:
    main8=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
    for i in main8:
        Publisher.append(i.text)
        
except NoSuchElementException:
    Publisher.append('-')
    
    
    
    
try:
    main9=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
    for i in main9:
        Genre.append(i.text)
        
except NoSuchElementException:
    Genre.append('-')

In [200]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [201]:
df5=pd.DataFrame({"Book name":Book_name,"Author name":Author_name,"Volumes sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
df5

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 7

In [161]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [162]:
Name_tv=[]
Year_span=[]
Genre_tv=[]
Run_time=[]
Ratings_tv=[]
Votes_tv=[]

In [163]:
try:
    main10=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
    for i in main10:
        Name_tv.append(i.text)
        
except NoSuchElementException:
    Name_tv.append('-')
    


try:
    main11=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3[1]/span[2]')
    for i in main11:
        Year_span.append(i.text)
        
except NoSuchElementException:
    Year_span.append('-')
    
    
    
try:
    main12=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
    for i in main12:
        Genre_tv.append(i.text)
        
except NoSuchElementException:
    Genre_tv.append('-')
    
    
    
    
try:
    main13=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
    for i in main13:
        Run_time.append(i.text)
        
except NoSuchElementException:
    Run_time.append('-')
    
    
    
    
try:
    main14=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div/span[2]')
    for i in main14:
        Ratings_tv.append(i.text)
        
except NoSuchElementException:
    Ratings_tv.append('-')
    
    
    
try:
    main15=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in main15:
        Votes_tv.append(i.text)
        
except NoSuchElementException:
    Votes_tv.append('-')

In [202]:
print(len(Name_tv),len(Year_span),len(Genre_tv),len(Run_time),len(Ratings_tv),len(Votes_tv))

100 100 100 100 100 100

In [203]:
df6=pd.DataFrame({"Name":Name_tv,"Year span":Year_span,"Genre":Genre_tv,"Run time":Run_time,"Ratings":Ratings_tv,"Votes":Votes_tv})
df6

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,193,044"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,805"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,947"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,958"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,028"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,423"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,452"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,096"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,685"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,653"

# Question 8

In [166]:
driver.get("https://archive.ics.uci.edu/")

In [167]:
role13=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
role13.click()

In [172]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]
Data_url=[]

In [173]:
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    Data_url.append(i.get_attribute('href'))

In [175]:
for i in Data_url:
    driver.get(i)
    
    try:
        dataset_name=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[1]/div[2]/div[1]/h1')
        Dataset_name.append(dataset_name.text)
        
    except NoSuchElementException:
        Dataset_name.append('-')
        
        
    try:
        data_type=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[2]/div[2]/div[1]/p[1]')
        Data_type.append(data_type.text)
        
    except NoSuchElementException:
        Data_type.append('-')
        
        
    try:
        task=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[2]/div[2]/div[3]/p[1]')
        Task.append(task.text)
        
    except NoSuchElementException:
        Task.append('-')
        
        
        
    try:
        attribute_type=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[2]/div[2]/div[4]/p[1]')
        Attribute_type.append(attribute_type.text)
        
    except NoSuchElementException:
        Attribute_type.append('-')
        
        
        
        
    try:
        no_of_instances=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[2]/div[2]/div[5]/p[1]')
        No_of_instances.append(no_of_instances.text)
        
    except NoSuchElementException:
        No_of_instances.append('-')
        
        
        
        
    try:
        no_of_attribute=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[2]/div[2]/div[6]/p[1]')
        No_of_attribute.append(no_of_attribute.text)
        
    except NoSuchElementException:
        No_of_attribute.append('-')
        
        
        
    try:
        year=driver.find_element(By.XPATH,'//main[@class="min-h-screen"]/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(year.text)
        
    except NoSuchElementException:
        Year.append('-')

In [204]:
print(len(Data_url),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year),len(Dataset_name))

10 10 10 10 10 10 10 10

In [205]:
df7=pd.DataFrame({" Dataset Name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"No of instances":No_of_instances,"No of attribute":No_of_attribute,"Year":Year})
df7

,Dataset Name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
8,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987